.parent {
    display: flex;
    margin: 50%;
    margin-top: 0;
    flex-direction: row;
    width: 10%;
 
    
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
    width: 100%;
    

}